In [4]:
import sqlite3
import pandas as pd

In [5]:
conn = sqlite3.connect('../../data/sqlite.db')

In [6]:
test_df= pd.DataFrame({'COL1':['a','b','c',],
                        'COL2':[1,2,3]})

test_df.to_sql('RAW_TEST',con=conn,if_exists='append',index=False)

3

In [7]:
out = pd.read_sql('select * from RAW_TEST',con=conn)

  COL1  COL2
0    a     1
1    b     2
2    c     3